.navbar-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;  /* Set this as you prefer */
    overflow-y: auto; /* for scrolling if items exceed the height */
    background-color: #f8f9fa; /* Your preferred color */
    padding: 1rem 0; 
}

.link {
    /* Add your preferred styles here */
}
    

.navbar-mobile {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;  /* To ensure the button is above other elements */
}

.menu-button {
    border: none;
    background: none;
    margin-right: 10px;
}


.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);  /* A semi-transparent black background */
    color: #fff;
    z-index: 5;  /* To ensure the menu is below the button */
    display: flex;
    justify-content: center;
    align-items: center;
}