
.data_artifact {
    /*padding: 15px 0;
    padding-top: 25px;
    width: 600px; 

    height: 162px;*/
    border: 4px solid #0c30fa;
    border-radius: 15px;
    font-size: 1em;
}

.obs_artifact {
  border: px solid #06b1cf;
  border-radius: 15px;
  font-size: 1em;
}

.description-row {
    grid-row: 1 / span 3;
}


.maxHeight {
    max-height: 90px;
    overflow-y: auto; /* optional: this will add a scroll bar if the content exceeds 250px */
}

