
.data_artifact {
    margin: auto;
    text-align: center;
    color: #0c30fa;
    /*padding: 15px 0;
    padding-top: 25px;*/
    height: 162px;
    width: 600px;
    border: 3px solid #0c30fa;
    border-radius: 20px;
    font-size: 1.25em;
    padding: 4px;
  }


  .data_artifact_smol {
    margin: auto;
    text-align: center;
    color: #0c30fa;
    background-color: none;
    /*padding: 15px 0;
    padding-top: 25px;*/
    height: 162px;
    width: 375px;
    border: 3px solid #0c30fa;
    border-radius: 20px;
    font-size: 0.5em;
    padding-top: 10px;
    padding: 4px;
  }
  .data_artifact_med {
    margin: auto;
    text-align: center;
    color: #0c30fa;
    background-color: none;
    /*padding: 15px 0;
    padding-top: 25px;*/
    height: 162px;
    width: 540px;
    border: 3px solid #0c30fa;
    border-radius: 20px;
    font-size: 0.5em;
    padding-top: 10px;
    padding: 4px;
  }
  .data_artifact_large {
    margin: auto;
    text-align: center;
    color: #0c30fa;
    background-color: none;
    /*padding: 15px 0;
    padding-top: 25px;*/
    height: 162px;
    width: 900px;
    border: 3px solid #0c30fa;
    border-radius: 20px;
    font-size: 0.5em;
    padding-top: 10px;
    padding: 4px;
  }